body{
    background:black;
    margin:0;
    overflow:hidden;
    font-family:"Courier New", monospace;
}

#error-container{
    color:#00ff00;
    font-size:18px;
    line-height:22px;
    white-space:pre-wrap;
    padding:10px;
    text-shadow:0 0 5px #00ff00;
}