body{

    background:black;

    margin:0;

    overflow:hidden;

    font-family:Courier New, monospace;

}


#error-container{

    width:100vw;

    height:100vh;

    display:grid;

    grid-template-columns:repeat(12, 1fr);

    color:#00ff00;

    font-size:18px;

    line-height:22px;

    padding:10px;

    box-sizing:border-box;

}


.columna{

    white-space:pre-line;

}